* {
    outline: solid 2px blue;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 1.5fr 8fr;
    background-color: darkcyan;
}
#header{
    background-color:deepskyblue;
    grid-column: 2 / 4;
    display: grid;
    text-align: center;
    align-content: center;
}
#sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: center;
}
#contentContainer{
    grid-column: 2 / 3;
    background-color:rgb(232, 232, 232);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
#contentContainer div{
    display: grid;
    border-radius: 8px;
    outline: blue 5px auto;
    text-align: center;
    background-color:burlywood;
    min-width: none;
    min-height: none;
    width: 75%;
    height:70%;
}
#feedContainer{
    background-color: rgb(232, 232, 232);
    display: grid;
    text-align: center;
    justify-items: center;
    padding-top: 7.5%;
}
#feedContainer div{
    background-color:burlywood;
    width: 70%;
    height: 90%;
    border-radius: 8px;
}
